<h1>Palindrome</h1>
<form action="/palindrome">
  <div class="form-group">
    <label for="palindrome">Enter a Word and See if it is a Palindrome</label>
    <input id="palindrome" name="palindrome" class="form-control" type="text">
  </div>
  <button type="submit" class="btn btn-success">Send</button>
</form>
